@import "compass-mixins/lib/compass";
@import "mixins";

$tile_count_per_size: 5;
$tile_size: 46px;
$tile_margin: 2px;
$gameboard_size: ($tile_size + 2 * $tile_margin) * $tile_count_per_size;
$player_card_container_width: $gameboard_size / 2;
$player_card_container_height: $player_card_container_width + 32;
$player_card_height: 104px;
$player_image_size: 64px;
$player_highlight_width: $player_image_size * 3 / 88;
$player_image_highlight_size: $player_image_size + 4 * $player_highlight_width;
$player_image_highlight_margin: -2 * $player_highlight_width;
$control_size: 16px;
$control_margin: $control_size / 4;
$slider_margin: floor($control_size / 3);
$slider_width: floor($gameboard_size - 2 * $control_size - 4 * $control_margin - 2 * $slider_margin);
$micro_tile_size: 8px;
$micro_tile_border_size: 1px;
$app_store_size: 160px;

html, body {
    margin: 0;
    padding:0;
    width: 100%;
    height: 100%;
}

body {
    background-color: #FFF8F2;
    font-family: 'Quicksand', sans-serif;
    color: #736F6D;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
    padding: 6px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

table {
    border-collapse: collapse;
}

table, th, tr, td {
    border: 0;
}

#page {
    width: $gameboard_size;
    margin: 0 auto;
}

#gameboard_wrapper {
    margin: 0 auto;
    padding-top: $player_card_container_height;
}

#gameboard {
    width: $gameboard_size;
    height: $gameboard_size;
    position: relative;
    @include select(none);
}

#gameboard_container {
    height: $gameboard_size + $player_card_container_height + 16px;
}

.tile {
    position: absolute;
    padding: 0;
    margin: $tile_margin;
    width: $tile_size;
    height: $tile_size;
    @include border-radius(4px);
}

.unfortifiable_container, .tile_image, .just_played_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

// State
.king_state {
    .tile_image {
        background-image: url("../assets/crown.svg");
        background-size: 100%;
    }
}

// Substate
.substate_up, .substate_right, .substate_down, .substate_left {
    background-image: url("../assets/rampart.svg");
    background-size: 100%;
}

.substate_up {
    @include transform(rotate(180deg));
}

.substate_right {
    @include transform(rotate(-90deg));
}

.substate_left {
    @include transform(rotate(90deg));
}

// Player
.player_card_container {
    width: $player_card_container_width;
    height: $player_card_container_height;
}

.player_card {
    width: 100%;
    height: $player_card_height;
    margin: (($player_card_container_height - $player_card_height) / 2) 0;
    vertical-align: middle;
    text-align: center;
    @include select(none);
}

.highlight {
    .player_image_highlight {
        display: block;
    }
}

#player1_card_container {
    float: left;
}

#player2_card_container {
    float: right;
}

.player_image_container {
    margin: 0 auto;
    width: $player_image_size;
    height: $player_image_size;
}

.player_image_highlight {
    position: absolute;
    width: $player_image_highlight_size;
    height: $player_image_highlight_size;
    margin: $player_image_highlight_margin;
    display: none;
}

.player_image {
    width: 100%;
    height: 100%;
    @include border-radius($player_image_size / 2);
    line-height: $player_image_size;
    font-size: 1.3em;
}

.player_plays_count_container {
    margin: 0 auto;
    height: $micro_tile_size + 2 * $micro_tile_border_size;
}

.player_plays_count {
    width: 100%;
    height: $micro_tile_size + 2 * $micro_tile_border_size;
}

.player_title, .player_outcome {
    font-size: .85em;
    line-height: .85em;
    text-transform: uppercase;
    @include select(text);
}

.player_title {
    margin: 6px 4px;
    white-space: nowrap;
}

.player_outcome {
    margin-top: -4px;
    display: none;
}

.micro_tile {
    width: $micro_tile_size;
    height: $micro_tile_size;
    margin: 0 2px;
    display: inline-block;
    @include border-radius(2px);
    border: solid $micro_tile_border_size;
    vertical-align:top;
}

// Controls

#controls {
    text-align: center;
    @include select(none);
    height: $control_size;
    width: $gameboard_size;
    margin: 0 auto;
}

#graph {
    height: round($slider_width / 2);
    width: $slider_width;
    margin: 0 auto (-$control_size / 2) auto;
}

#slider {
    width: $slider_width;
    margin: 0 $slider_margin;
}

.control_item {
    display: inline-block;
    height: $control_size;
    width: $control_size;
    margin: 0 $control_margin;
    padding: 0;
}

// Footer

#footer {
    text-align: center;
    padding-bottom: 20px;
}

#app_store_link {
    display: block;
    width: $app_store_size;
    height: round($app_store_size / 3.2);
    line-height: round($app_store_size / 3.2);
    margin: 18px auto;
    -webkit-transition: all 250ms ease;
    -moz-transition: all 250ms ease;
    -o-transition: all 250ms ease;
    transition: all 250ms ease;
    border-radius: $app_store_size / 30;

    & img {
        width: 100%;
        height: 100%;
        display: block;
        vertical-align: middle;
    }
}

