@import "compass-mixins/lib/compass";
@import "mixins";

$tile_count_per_size: 5;
$tile_size: 46px;
$tile_margin: 2px;
$gameboard_size: ($tile_size + 2 * $tile_margin) * $tile_count_per_size;
$player_card_width: $gameboard_size / 2;
$player_card_height: $player_card_width + 32;
$player_image_size: 64px;
$player_highlight_width: $player_image_size * 3 / 88;
$player_image_highlight_size: $player_image_size + 4 * $player_highlight_width;
$player_image_highlight_margin: -2 * $player_highlight_width;
$control_size: 16px;
$micro_tile_size: 8px;
$micro_tile_border_size: 1px;

body {
    background-color: #FFF8F2;
    font-family: 'Quicksand', sans-serif;
    color: #736F6D;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

p {
    padding: 6px;
    text-align: center;
}

a {
    color: inherit;
    text-decoration: none;

    &:hover {
        text-decoration: underline;
    }
}

.page {
    width: $gameboard_size;
    margin: 0 auto;
}

#gameboard {
    width: $gameboard_size;
    height: $gameboard_size;
    position: relative;
    margin: 0 auto;
    top: $player_card_height;
    @include select(none);
}

#gameboard_container {
    height: $gameboard_size + $player_card_height + 16px;
}

.tile {
    position: absolute;
    padding: 0;
    margin: $tile_margin;
    width: $tile_size;
    height: $tile_size;
    @include border-radius(4px);
}

.unfortifiable_container, .tile_image, .just_played_container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

// State
.king_state {
    .tile_image {
        background-image: url("../assets/crown.svg");
        background-size: 100%;
    }
}

// Substate
.substate_up, .substate_right, .substate_down, .substate_left {
    background-image: url("../assets/rampart.svg");
    background-size: 100%;
}

.substate_up {
    @include transform(rotate(180deg));
}

.substate_right {
    @include transform(rotate(-90deg));
}

.substate_left {
    @include transform(rotate(90deg));
}

// Player
.player_card {
    text-align: center;
    position: relative;
    width: $player_card_width;
    height: $player_card_height;
    @include select(none);
}

.highlight {
    .player_image_highlight {
        display: block;
    }
}

#player1_card {
    float: left;
}

#player2_card {
    float: right;
}

.player_image_container {
    position: relative;
    width: $player_image_size;
    height: $player_image_size;
    margin: 20px auto 0;
}

.player_image_highlight {
    position: absolute;
    width: $player_image_highlight_size;
    height: $player_image_highlight_size;
    margin: $player_image_highlight_margin;
    display: none;
}

.player_image {
    position: absolute;
    width: 100%;
    height: 100%;
    @include border-radius($player_image_size / 2);
    line-height: 64px;
    font-size: 1.3em;
}

.player_plays_count {
    margin: 0 auto;
    height: $micro_tile_size + 2 * $micro_tile_border_size;
}

.player_title {
    font-size: .85em;
    margin: 6px 4px;
    text-transform: uppercase;
    @include select(text);
}

.micro_tile {
    width: $micro_tile_size;
    height: $micro_tile_size;
    margin: 0 2px;
    display: inline-block;
    @include border-radius(2px);
    border: solid $micro_tile_border_size;
    vertical-align:top;
}

// Controls

#controls {
    text-align: center;
    @include select(none);
}

.control_item {
    display: inline;
    margin: 8px;

    & svg {
        width: $control_size;
        height: $control_size;
    }
}

